* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

:root {
  --fond: #0a0a14;
  --texte: #ffffff;
  --violet-fonce: #260072;
  --violet-clair: #a855f7;
  --secondary-color: gold;
  --dark-color: #70540d;
  --title: 65px;
}

body {
  font-family: 'Brasika', sans-serif;
  background: var(--fond);
  color: var(--texte);
  background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 4px);
  background-size: 550px 550px;
}

/* ---NAV BAR--- */
nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  padding: 40px 100px;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  z-index: 100000;
}

nav .logo {
  position: relative;
  height: 50px;
  width: auto;
  text-decoration: none;
  transition: 0.6s;
}

.logo img {
  height: 100%;
  width: auto;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  position: relative;
  margin: 0 10px;
  color: var(--texte);
  letter-spacing: 2px;
  font-weight: 500px;
  text-decoration: none;
  font-size: 15px;
  transition: 0.6s;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--secondary-color);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after,
.nav-links ul li:active::after {
  width: 100%;
}

/*----Sticky NavBar----*/
nav.sticky{
  padding: 5px 100px;
  background: var(--violet-fonce);
}


/* ---HERO PAGE--- */
.header {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox {
  width: 90%;
  color: var(--texte);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.textbox h1 {
  font-size: 62px;
}

.textbox p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: var(--secondary-color);
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--texte);
  border: 2px solid var(--secondary-color);
  padding: 10px 30px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 2px solid var(--texte);
  background: var(--secondary-color);
  transition: 0.5s;
}

/* ---Hamburger Menu Off---*/
nav .fa-bars {
  display: none;
}

nav .fa-xmark {
  display: none;
}

/* ---MOBILE HERO--- */
@media(max-width: 650px) {
  .textbox h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: var(--secondary-color);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav .fa-xmark {
    display: block;
    color: var(--texte);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav .fa-bars {
    display: block;
    color: var(--texte);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

/* ---INFOS--- */
.info {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  color: var(--secondary-color);
  font-size: 40px;
  font-weight: 800;
}

p {
  color: var(--texte);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.info-col {
  flex-basis: 30%;
  background: var(--dark-color);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.info-col:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ---MOBILE INFOS--- */
@media(max-width: 650px) {
  .row {
    flex-direction: column;
  }
}

/*-----PRICE------*/

.price {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.price-container {
  align-items: center;
  margin: 0 ;
  margin-top: 100px;
  padding: 0 2rem;
  height: 100%;
  width: 100%;
}

.price-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 4%;
  height: 100%;
  min-width: none;
  margin: 40px auto 80px;
  align-items: stretch;
}

.price-card {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background: rgba(99, 72, 131, 0.568);
  border: 2px solid var(--secondary-color);
  backdrop-filter: blur(20px);
  min-width: 60px;
  border-radius: 25px;
}

.price-card-title {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
}

.price-amount {
  font-size: 45px;
  font-weight: normal;
  margin-bottom: 20px;
}

.price-hr {
  border: none;
  height: 2px;
  background: var(--secondary-color);
  margin: 20px 0;
}

.price-features {
  margin: 40px 0;
  list-style-position: inside;
}

.price-features li {
  list-style: none;
  font-size: 20px;
  padding-bottom: 10px;
}

a.price-card-btn {
  margin-top: auto;
  width: 100%;
  display: inline-block;
  text-align: center;
  background: var(--dark-color);
  border-radius: 29px;
  padding: 15px 0;
  color: var(--fond);
  text-decoration: none;
  letter-spacing: 2px;
  transition: background .3s ease;
}

a.price-card-btn:hover {
  background: var(--secondary-color);
}

@media(max-width: 1549px) {
  .price-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media(max-width: 1310px) {
  .price-grid {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

   .price-card:nth-child(3){
    grid-column: 1 / -1;     /* span both columns (new row) */
    justify-self: center;    /* center the card */
    max-width: 420px;        /* so it doesn't stretch full width */
    width: 100%;
  }
}

/* optional: stack to 1 column on small screens */
@media (max-width: 900px){
  .price-grid{ 
    grid-template-columns: 1fr; 
  }
  .price-card:nth-child(3){ 
    grid-column: auto; 
    max-width: none; 
    width: 100%;
    margin-bottom: 100px;
  }
}

/*Start Commentaire style pour ABOUT.HTML*/
/* Team page styling */
/* scrolling */
html {
  scroll-behavior: smooth;
}

/* Main section setup*/
.section-team {
  min-height: 100vh;
  padding: 80px 40px;
  background-color: #0a0a14;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* "MEET THE TEAM" tittre */
.team-intro {
  text-align: center;
  margin-bottom: 60px;
}

.team-intro p {
  font-size: 13px;
  letter-spacing: 0.4em;
  color: #bcbcbc;
  margin-bottom: 0 0 6px;
}

.team-intro h3 {
  font-size: 32px;
  letter-spacing: 0.25em;
  margin: 0;
  font-weight: 700;
  color: #fff;
}

/*Grid layout*/
.team-grid {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 1200px;
}

/*Card design*/
.team-card {
  background: #280462;
  border-radius: 14px;
  width: 220px;
  height: 320px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
  transition: transfomr 0.2s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.team-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(128, 0, 255, 0.6);
}

/*Images*/
.card-photo {
  width: 100%;
  height: 180px;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-photo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  transition: transform 0.3s ease;
}

.card-info {
  transform: scale(1.1);
}

.card-info {
  flex-grow: 1;
  padding: 12px 8px 0;
  color: white;
}

.card-info .name {
  margin: 10px 0 6px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.card-info .role {
  font-size: 13px;
  letter-spacing: 0.2em;
  color: #d4caff;
}

/*Animation*/
.team-card {
  opacity: 1;
  transform: translateY(20px);
}

.team-card.show {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease;
}

/*End Commentaire style pour ABOUT.HTML*/
